<div class="container hero">
    <div class="row flex-center">
        <h1><%= title 'Resume' %></h1>  
    </div>
    <div class="row flex-center">
        <%= image_tag  "https://avatars0.githubusercontent.com/u/2009988?s=460&u=86ac34e0ec298d4dcc66707359d883f3c90646fb&v=4", alt: "me" %>
        <p>
            Hey I am <span class="me">Partho Ghosh</span>. I am a Software Engineer who spent about <span class="me">10 years</span> in building production ready software in web (mostly) and mobile domain. I mostly write code in <span class="me">Ruby</span> and <span class="me">Java</span>. My day to day goal is to get continuously better in overall aspects of software engineering like front-end, backend, architecture, scale, alogirhtms, etc. I started my engineering journey with the hopes to become a game developer (and I kind of acheived it when I got hired in Gameloft as game programmer) but then slowly drifted into web/mobile domain. My secret desire is to release my own game some day.
        </p>
    </div>
    <div>
        <div class="row">
            <div class="col md-12">
                <p class="text-center">Contact Me</p>
            </div>
        </div>
        <div class="row">  
                <div class="col md-3"><%=link_to(image_tag("own/gmail.svg", width: 40, class: "margin-left-generic"), "mailto: partho.ghosh24@gmail.com")%></div>
                <div class="col md-3"><%=link_to(image_tag("own/linkedin.svg", width: 40, class: "margin-left-generic"), "https://in.linkedin.com/in/partho-ghosh-21b05835", target:"_blank")%></div>
                <div class="col md-3"><%=link_to(image_tag("own/github.svg", width: 40, class: "margin-left-generic"), "https://github.com/parthoghosh24", target:"_blank")%></div>
                <div class="col md-3"><%=link_to(image_tag("own/angellist.svg", width: 40, class: "margin-left-generic"), "https://angel.co/u/partho-ghosh-758737", target:"_blank")%></div>
        </div>
    </div>    
    <div class="row flex-center">
            <iframe src="https://drive.google.com/file/d/17CYmbJAWCNSQbgzLJ_uuBUOUUgXb7n17/preview" width="640" height="800"></iframe>
    </div>
</div>
