<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= display_meta_tags site: 'Partho.me' %>
    <%= display_meta_tags description: 'Hey I am Partho Ghosh and Partho.me is my portfolio website. I am a full stack software engineer. Find out more about me and my work by exploring the site.' %>
    <%= display_meta_tags keywords: 'Partho Ghosh, Developer, Rails Developer, Spring Boot Developer, Software Engineer, Rails, Java, Ruby' %>
    <%= display_meta_tags image_src: 'https://avatars0.githubusercontent.com/u/2009988?s=460&u=86ac34e0ec298d4dcc66707359d883f3c90646fb&v=4' %>
    <%= display_meta_tags og: {title: "Partho Ghosh portfolio", 
                               site_name: "Partho.me", 
                               description: "Hey I am Partho Ghosh and Partho.me is my portfolio website. I am a full stack software engineer. Find out more about me and my work by exploring the site.",
                               image:"https://avatars0.githubusercontent.com/u/2009988?s=460&u=86ac34e0ec298d4dcc66707359d883f3c90646fb&v=4"}%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/papercss/dist/paper.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'twreplace_min', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <div class="row site">
        <%= render "common/menu" %>
        <div class="container">
          <%= yield %>
          <%= render "common/footer" %>
        </div>
    </div>
  </body>
</html>
